@font-face {
	font-family: 'LoanSmart';
	src:url('fonts/LoanSmart.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

i {
	speak: none;
    display: inline-block;
    font: normal normal normal 14px/1 LoanSmart;
    font-size: inherit;
    text-rendering: auto;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\f007";
}
.icon-home:before {
	content: "\f015";
}
.icon-clock:before {
	content: "\f017";
}
.icon-inr:before {
	content: "\f156";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-view-carousel:before {
	content: "\e600";
}
.icon-vpn-key:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e605";
}
.icon-arrow-back:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-more-vert:before {
	content: "\e603";
}
.icon-key:before {
	content: "\e606";
}
.icon-mail2:before {
	content: "\e607";
}
