// bower:scss
// endbower
// $fa-font-path: "../bower_components/font-awesome/fonts";
// @import "../bower_components/font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: "Raleway regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway regular.ttf") format('truetype');
}

.slide-right {
  // transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
/* line 165, ../sass/ng-animation.scss */
.slide-right.ng-enter {
  transform: translateX(160px);
  transition-duration: 500ms;
  opacity: 0;
}
/* line 171, ../sass/ng-animation.scss */
.slide-right.ng-enter-active {
  transform: translateX(0);
  opacity: 1;
}
/* line 176, ../sass/ng-animation.scss */
.slide-right.ng-leave {
  transform: scale(1);
//  transform: translateX(0);
  transition-duration: 500ms;
  opacity: 1;
}
/* line 182, ../sass/ng-animation.scss */
.slide-right.ng-leave-active {
  transform: scale(0.5);
//  transform: translateX(160px);
  opacity: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

.container {
  width: inherit;
  height: inherit;
}

#app {
  width: inherit;
  height: inherit;
  position: absolute;
}

/* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;

//   Make the masthead heading the same height as the navigation
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }
//##################################################################
//Login
//##################################################################
.login.md-default-theme {
  background-color: #2196F3;
  height: 100%;
}

.row {
  display: flex;
  .fa {
    font-size: 24px;
    padding-top: 30px;
    padding-right: 10px;
  }
}

.welcome {
  color: white;
  text-align: center;
  font-family: "Raleway regular";

  .text{
    font-size: 1.5em;
  }

  .title{
    font-size: 2em;
  }
}

//##################################################################
//Home
//##################################################################
.home.md-default-theme {
  background-color: #2196F3;
  height: inherit;

  .home-text,
  .home-col {
    text-align: center;
    font-family: "Raleway regular";
    .fa {
      color: inherit;
      font-size: 64px;
    }
  }

  md-button.left {
    border-right: 1px solid #e5e5e5;
    border-radius: 0px;
  }
}

//##################################################################
//LoanList
//##################################################################


md-divider[inset] {
  margin-left: 5%;
  margin-right: 5%;
}

.md-toolbar-tools i {
  font-size: 24px;
  color: white;
}

.fa.fa-rupee {
  font-size: 18px;
  color: #666666;
  padding-right: 3px;
}

.md-tile-content p, h3{
  font-family: 'Raleway regular';
  text-align:center;
}

.search-result{
  padding-left: 16px;
}

.shrinkable-toolbar-input > input {
  width: 80px;
}

.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #37cde7; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}

.circle-text div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:white;
  font-size: 2em;
  font-family: "Raleway regular";
  // font-weight: bold;
}

/* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  // .header {
//  //   margin-bottom: 30px;
//  // }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}

.logo {
  font-size: 128px;
  color: white;
}
