<md-toolbar class="app-toolbar md-whiteframe-z1">
  <div class="md-toolbar-tools" layout="row" layout-align="center">
    <md-button ng-hide="pageProps.goBack" ng-click="toggleLeft()">
      <i class="icon-menu"></i>
    </md-button>
    <md-button ng-show="pageProps.goBack" ng-click="back()">
      <i class="icon-arrow-back"></i>
    </md-button>
    <span flex>{{pageProps.title}}</span>
    <md-button>
      <i class="icon-more-vert"></i>
    </md-button>
  </div>
</md-toolbar>


<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-tall">
    <span flex></span>
    <h1 class="md-toolbar-tools md-toolbar-tools-bottom">
      LoanSmart
    </h1>
  </md-toolbar>

  <md-content class="app-sidenav md-padding" layout="column">
    <md-button ng-click="goTo('home')" layout="row" layout-align="start center">
      <i class="icon-home" flex="20"></i>
      <span>Home Loans</span>
    </md-button>
    <md-button ng-click="goTo('auto')" layout="row" layout-align="start center">
      <i class="icon-automobile" flex="20"></i>
      <span>Auto Loans</span>
    </md-button>
    <md-button ng-click="goTo('personal')" layout="row" layout-align="start center">
      <i class="icon-user" flex="20"></i>
      <span>Personal Loans</span>
    </md-button>
    <md-button ng-click="goTo('emicalc')" layout="row" layout-align="start center">
      <i class="icon-calculator" flex="20"></i>
      <span>EMI Calculator</span>
    </md-button>
  </md-content>
</md-sidenav>
