<md-content class="home" layout="vertical" layout-align="center center">
	<div class="home-text" layout="vertical">
		<div>Hi,</div>
		<div>how can we help you?</div>
	</div>

	<div class="home-row" layout="horizontal">
		<md-button>
			<div class="home-col" layout="vertical">
				<i class="fa fa-home"></i>
				Home Loans
			</div>
		</md-button>

		<md-button>
			<div class="home-col" layout="vertical">
				<i class="fa fa-automobile"></i>
				Auto Loans
			</div>
		</md-button>
	</div>

	<div class="home-row" layout="horizontal">
		<md-button>
			<div class="home-col" layout="vertical">
				<i class="fa fa-user"></i>
				Personal Loans
			</div>
		</md-button>
		<md-button>
			<div class="home-col" layout="vertical">
				<i class="fa fa-calculator"></i>
				EMI Calculator
			</div>
		</md-button>
	</div>
</md-content>