<toolbar></toolbar>

<md-toolbar class="shrinkable-toolbar" md-scroll-shrink style="background-color: #e5e5e5; z-index: 1; height: 48px; min-height: 48px;">
  <div class="md-toolbar-tools" style="height: 48px; min-height: 48px; font-size: 14px;">
    <span><i class="fa fa-rupee"></i></span>
    <md-text-float class="shrinkable-toolbar-input" label="Loan Amount" ng-model="tempPref.principal"></md-text-float>
    <span><i class="fa fa-clock-o"></i></span>
    <md-text-float class="shrinkable-toolbar-input" label="Time Period" ng-model="tempPref.time"></md-text-float>
    <md-button ng-click="update()">Apply</md-button>
  </div>
</md-toolbar>

<md-content style="height: 82.3%;">
    <md-list class="search-results">
      <md-item ng-repeat="loan in loans">
        <md-item-content class="search-result" ng-click="openDetails(loan)">

            <div class="md-tile-left circle-text">
                <div>{{initial(loan.name)}}</div>
            </div>

            <div class="tile-emi md-tile-content">
              <h3><i class="fa fa-rupee"></i>{{EMI(loan.rate) | currency:"":"0"}}</h3>
              <p>
                per month
              </p>
            </div>

            <div class="md-tile-content">
              <h3>{{loan.rate}}%</h3>
              <p>
                {{loan.rateType}}
              </p>
            </div>

          <div class="md-tile-right">
            <md-checkbox></md-checkbox>
          </div>

        </md-item-content>
        <md-divider inset ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
</md-content>
