<md-content class="login" layout="column" layout-align="center center">
  <div class="welcome">
    <div class="text">Welcome to</div>
    <div class="title">LoanSmart</div>
  </div>

  <div class="logo"><i class="fa fa-shekel"></i></div>

  <div>
    <form ng-submit="addUser(user)">
      <div class="row">
        <i class="fa fa-envelope"></i>
        <md-text-float label="Email ID" type="email" ng-model="user.email"></md-text-float>
      </div>
      <div class="row">
        <i class="fa fa-key"></i>
        <md-text-float label="Password" type="password" ng-model="user.password"></md-text-float>
      </div>

      <md-button type="submit">Sign Up</md-button>
    </form>
  </div>

  <div>
    <div>Already signed up? <a href="">LOGIN</a></div>
  </div>
</md-content>
